@charset "utf-8";
/* CSS Document */
body {
	background-color: #d2f2fa;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
}

.titleStyle {
	font-size: xx-large;
	font-weight: bolder;
	color: #000066;
	display: inline;
	border: thin dotted #000066;
}
.subTitleStyle {
	font-size: large;
	font-weight: bolder;
	color: #000066;
	display: inline;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: center;
}
.contactInfo {
	font-size: small;
	font-weight: bold;
	color: #000066;
	display: inline;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-style: italic;
	text-align: right;
}
.titleTd {
	background-color: #0099FF;
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
}
h1 {
	color: #000099;
}
h2 {
	color: #000099;
}
h3 {
	color: #000099;
}
#Table_01 #leftMenu a {
	color: #FF0000;
	font-style: normal;
	text-decoration: none;
}

#Table_01 #rightMenu a {
	color: #FF0000;
	font-style: normal;
	text-decoration: none;
}
.thumbGallery {
	border: thick groove #FFFFFF;
}
#Table_01 .red {
	color: #FF0000;
}
